<!DOCTYPE html>
<html>
    <head>
        <title>User Data</title>
    </head>
    <body>
        <form id="searchForm">
            <input type="text" id="searchQuery" name="searchQuery" placeholder="Search for Username">
            <button id="search" type="submit">Search</button>
        </form>

        <table id = "searchTable">
            
        </table>

        <table id = "userDataTable">
            <thead>
                <th>Nickname</th>
                <th>Email</th>
                <th>Registration Date</th>
            </thead>
            <tbody>
                
            </tbody>
        </table>

        <table id = "friendList">
            <thead>
                <th>Friends List</th>
            </thead>
            <tbody>
                
            </tbody>
        </table>

        <button id = "logout" type = 'click'>Logout</button>
        <button id = 'deleteUser' type =  'submit'>Delete User</button>

    </body>
    <script>
        // Table Variables
        const dataTable = document.getElementById('userDataTable');
        const friendTable = document.getElementById('friendList');
        // Fetch and populate data for the User Data Table
        fetch('/bridge/get_user_data')
        .then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }
            return response.json();
        })
        .then(data => {
            if (data.length === 0) {
                dataTable.innerHTML = "<tr><td colspan='100%'>No data available</td></tr>";
                return;
            }

            const actualData = data[0][0];  // Get the inner list
            if (!actualData || actualData.length === 0)
            {
                dataTable.innerHTML = "<tr><td colspan='100%'>No data available</td></tr>";
                return;
            }
            
            let row = dataTable.insertRow()
            
            for(var i = 0; i < actualData.length; i++) {
                let cell = row.insertCell(i)
                cell.innerHTML = actualData[i]
            }    
        })
        .catch(error => {
            console.error('Error fetching data:', error);
            dataTable.innerHTML = `<tr><td colspan='100%' style='color:red;'>Error fetching data: ${error}</td></tr>`;
        });
        // Fetch and Populate data for the Friend List
        fetch('/bridge/query_friends')
        .then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }
            return response.json();
        })
        .then(data => {
            if (data.length === 0) {
                dataTable.innerHTML = "<tr><td colspan='100%'>No data available</td></tr>";
                return;
            }

            for (let i = 0; i < data.length; i++) {
                let row = friendTable.insertRow()

                let cell = row.insertCell(0)
                cell.innerHTML = data[i][0]
            }


        })
        .catch(error => {
            friendTable.innerHTML = `<tr><td colspan='100%' style='color:red;'>Error fetching data: ${error}</td></tr>`
        })

    </script>

    <script>
        document.getElementById('logout').addEventListener('click', function() {
            fetch('/logoutUser')
            .then(response => {
                if (response.ok) {
                    window.location.href = '/'
                }
                else {
                    alert('An error has occured! Please try again later.')
                }
            })
        })
    </script>

    <script>
        document.getElementById('deleteUser').addEventListener('click', function() {
            fetch('/bridge/deleteUser')
            .then(response => {
                if (response.ok) {
                    window.location.href = '/'
                }
                else {
                    alert('An error has occured! Please try again later.')
                }
            })
        })
    </script>
    <script>
        document.getElementById('searchForm').addEventListener('submit', function() {
            event.preventDefault();

            const searchQuery = document.getElementById('searchQuery').value;

            if (!searchQuery) {
                alert('You need to enter a search term');
            }

            const data = {
                query: searchQuery,
            }

            fetch('/bridge/search_users', {
                method: 'POST',
                  headers: {
                      'Content-Type': 'application/json',
                  },
                  body: JSON.stringify(data),
            })
            .then(data => {

            })
            .catch(error => {
                alert('Username not found');
                window.location.href = '/';
            })
        })
    </script>
</html>